@media (max-width: 375px) {
  body {
    font-size: 0.8rem;
  }
  .title-cont {
    padding-left: 0.6rem;
    font-size: 0.6rem;
  }
  .h1 {
    font-size: 0.2rem;
  }
  .sign-in {
    margin-right: 2rem;
    margin-left: 0rem;
    transform: translateX(5rem);
  }
  .authd {
    flex-direction: row;
    gap: 0rem;
  }
  .cloud-icon {
    margin-left: 0rem;
    margin-top: 1rem;
    transform: translateX(-4rem);
  }
  .top-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-bottom: 2rem;
    margin-top: -2rem;
    font-size: 1rem;
    gap: 1.5rem;
  }
  .add-new {
    transform: translateY(1rem);
    transform: translateX(-0.5rem);
    width: 15rem;
    height: 3rem;
  }
  .sort-cont {
    transform: translateX(-2.3rem);
  }
  .sortCriteria {
    font-size: 0.6rem;
  }
  .toggle-complete-wrapper {
    margin-top: 0.2rem;
    transform: translateX(-0.6rem);
    gap: 1rem;
  }
  .color-wrapper {
    transform: translateX(-2.1rem);
  }
  .small {
    display: none;
  }
  .hidden-dropdown {
    opacity: 1;
    font-size: 0.6rem;
  }
  .alternate {
    align-items: center;
    gap: 0.2rem;
    overflow: visible;
    flex: 1;
  }
  .course-line {
    display: grid;
    grid-gap: 1rem;
    border-radius: 15px;
    padding: 0.5rem;
    padding-left: 0.2rem;
    width: 100%;
  }
  .course-details {
    font-size: 0.7rem;
  }
  .course-percent {
    margin-left: 0rem;
  }
  .minus-icon {
    width: 7%;
    height: auto;
  }
  .nameBox {
    width: 2.5rem;
  }
  .percBox {
    margin-left: 2.2rem;
    margin-right: 0.3rem;
  }
  .detail-simple {
    gap: 0.2rem;
  }
  ul {
    padding-inline-start: 0rem;
  }
  li {
    margin-bottom: 0rem;
  }
  .course-actions {
    display: flex;
    margin-right: 1rem;
    gap: 0.2rem;
    justify-content: flex-end;
    flex: 1;
  }
}
/* @media (max-width: 1279px) {
  .course-line {
    gap: 0;
  }

  .course-actions {
    margin-right: 10rem;
  }
  .course-percent {
    margin-left: -40rem;
  }
  .sign-in {
    margin-right: 10rem;
  }
  .reset-button,
  .edit-button {
    height: 2.6rem;
    width: 2.6rem;
    font-size: 0.7rem;
  }
  .alternate {
    gap: 0;
  }
  .detail-simple {
    gap: 0;
  }
  .percBox {
    margin-left: 0rem;
  }
  .currBox {
    transform: translateX(-3rem);
  }
  .minus-icon {
    margin-right: 1rem;
  }
  .course-percent {
    transform: translateX(3rem);
  }
  .add-new {
    transform: translateX(-6rem);
  }
  .sort-cont {
    transform: translateX(2rem);
  }
  .display-wrapper {
    transform: translateX(4rem);
  }
  .column-chart {
    transform: translateX(-7em);
  }
  .column-label {
    font-size: 0.5rem;
  }
} */
