body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: var(--background-color);
  color: var(--text-color);
}
:root {
  --primary-color: #3084ce;
  --background-color: #121212;
  --secondary-color: #8074e9;
  --text-color: #ffffff;
  --white-color: black;
  --yellow-color: #e94560;
  --maroon-color: #cf4e27;
  --red-color: #f51111;
  --teal-color: #067c6c;
  --highlight-color: rgba(108, 185, 165, 0.295);
  --gold-color: #2c74b3;
  --gold2-color: #756ad8;
  --minus-color: #ddd7d79f;
}
.colorful {
  --primary-color: #daa520; /* Golden Rod */
  --background-color: #2e2e2e; /* Charcoal */
  --secondary-color: #8b4513; /* Saddle Brown */
  --text-color: #dfdfdf; /* Off White */
  --white-color: #f8ebeb; /* Indigo */
  --yellow-color: #f4a460; /* Sandy Brown */
  --maroon-color: #800000; /* Maroon */
  --red-color: #b22222; /* Firebrick */
  --teal-color: #2f4f4f; /* Dark Slate Grey */
  --highlight-color: rgba(
    205,
    92,
    92,
    0.336
  ); /* Light Coral with transparency */
  --gold-color: #b8860b; /* Dark Golden Rod */
  --gold2-color: #cd853f; /* Peru */
  --minus-color: #c0c0c0a3; /* Silver with transparency */
}

.dark {
  --primary-color: #3084ce;
  --background-color: #121212;
  --secondary-color: #8074e9;
  --text-color: #ffffff;
  --white-color: black;
  --yellow-color: #e94560;
  --maroon-color: #cf4e27;
  --red-color: #f51111;
  --teal-color: #067c6c;
  --highlight-color: rgba(108, 185, 165, 0.295);
  --gold-color: #2c74b3;
  --gold2-color: #756ad8;
  --minus-color: #ddd7d79f;
}
.simple {
  --primary-color: #344b69;
  --background-color: #f5efe7;
  --secondary-color: #213555;
  --text-color: black;
  --white-color: #f8f1f1;
  --yellow-color: #2c74b3;
  --maroon-color: #213555;
  --red-color: #213555;
  --teal-color: #344b69;
  --highlight-color: rgba(159, 219, 159, 0.336);
  --gold-color: #2c74b3;
  --gold2-color: #0c7e6b;
  --hover-color: #ffffff;
  --minus-color: #ddd7d79f;
}

li {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
li:not(.completed-list):hover {
  background-color: #212b35;
  border-radius: 15px;
  color: var(--hover-color);
}
li:hover,
li:hover *:not(.minus-icon) {
  color: var(--hover-color) !important;
}

ul {
  list-style: none;
}
h1 {
  font-weight: 400;
}
h3 {
  font-weight: 500;
  margin-bottom: 3rem;
  color: var(--primary-color);
}
h4 {
  font-weight: 500;
  margin-bottom: 3rem;
  color: var(--text-color);
}
.display-wrapper,
.color-wrapper {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.color-wrapper label {
}
.hidden-dropdown {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

#colorScheme option {
  appearance: none; /* Remove default styling */
  border-radius: 3px;
  background-color: var(--background-color);
  cursor: pointer;
  color: var(--text-color);
}
.sortCriteria {
}
.hidden-dropdown,
.sortCriteria {
  border-radius: 3px;
  padding: 0.1rem;
  border: none;
  background-color: var(--background-color);
  color: var(--text-color);
}
.hidden-dropdown:focus,
.sortCriteria:focus {
  outline: none;
}

.display-wrapper:hover .hidden-dropdown {
  opacity: 1;
  pointer-events: auto;
}
.color-wrapper:hover .hidden-dropdown {
  opacity: 1;
  pointer-events: auto;
}
.sort-cont {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.sort-icon {
  display: flex;
  align-items: center;
}
.authd {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
}
.authdPre {
  font-weight: 500;
  color: var(--primary-color);
}
.authdUser {
  color: var(--secondary-color);
}
.upload-to-cloud {
  pointer-events: none;
}

.cloud-icon {
  color: var(--text-color);
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 3rem;
  transition: transform 1s ease-in-out;
  /* margin-top: 2rem;  */
}
.cloud-icon:hover {
  transform: translateY(-0.5rem);
  animation: slideDown 1s ease-in-out forwards;
  color: var(--primary-color);
}
.cloud-icon:active {
  /* transform: translateY(-1rem);
  animation: slideDown 1s ease-in-out forwards; */
  transform: translateY(0);
  transition-duration: 0.1s;
  animation: none;
  color: var(--maroon-color);
}
@keyframes slideDown {
  0% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

.sort {
  width: 1.3rem;
  cursor: pointer;
}
.title-cont {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 1rem; */
}
.asc:hover,
.asc:active {
  color: var(--primary-color);
}
.desc:hover,
.desc:active {
  color: #756ad8;
}
.fas {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.fa-toggle-on {
  color: var(--primary-color);
}
.fa-toggle-off {
  color: #756ad8;
}
.fa-toggle-off:hover,
.fa-toggle-off:active {
  color: var(--primary-color);
}
.fa-toggle-on:hover,
.fa-toggle-on:active {
  color: #756ad8;
}
.toggle-complete-wrapper {
  margin-top: 0.4rem;
  display: flex;
  align-items: center;
}
.version-num {
  color: var(--secondary-color);
}
.name-small {
  display: none;
}
.course-percent-small {
  display: none;
}
.minus-icon {
  width: 2%;
  cursor: pointer;
  color: var(--minus-color);
}
.minus-icon:hover,
.minus-icon:active {
  color: var(--red-color);
}
.loginBtn,
.regBtn {
  padding: 0.5rem;
  border-radius: 3px;
  border: none;
  color: var(--white-color);
}
.loginBtn {
  background-color: var(--secondary-color);
}
.regBtn {
  background-color: var(--maroon-color);
}

.loginBtn:hover,
.loginBtn:active {
  background-color: var(--gold-color);
}
.regBtn:hover,
.regBtn:active {
  background-color: var(--gold-color);
}
.course-line {
  display: flex;
  gap: 10rem;
  border-radius: 15px;
  padding: 0.5rem;
  padding-left: 1rem;
  width: 100%;
}
.course-details {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  gap: 4.5rem;
  font-size: 1rem;
  flex: 1;
}
.course-percent {
  margin-left: -80rem;
}
.course-percent-text {
  margin-left: -60rem;
  padding-left: 55rem;
}
.alternate {
  align-items: center;
  gap: 3rem;
  overflow: visible;
  flex: 5;
}

.detail-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.detail-simple {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  align-items: end;
}
.text2 {
  margin-left: 1rem;
}
.nameBox {
  width: 8rem;
}
.percBox {
  margin-left: 3rem;
}
.currBox {
}
.course-actions {
  display: flex;
  margin-right: 15rem;
  gap: 2rem;
  justify-content: flex-end;
  flex: 1;
}
.reset-button,
.edit-button {
  height: 3rem;
  width: 3rem;
  border-radius: 3px;
  border: none;
  color: var(--white-color);
}
.reset-button {
  /* background-color: rgb(143, 88, 26); */
  background-color: var(--gold-color);
}
.reset-button:hover,
.reset-button:active {
  background-color: #756ad8;
  cursor: pointer;
}
.edit-button {
  background-color: var(--gold2-color);
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}
.edit-button:hover,
.edit-button:active {
  background-color: rgb(67, 143, 86);
  cursor: pointer;
}
.ultra-cont {
  position: relative;
  margin-bottom: 3rem;
}
.top-cont {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.message-cont {
  position: absolute;
  color: var(--text-color);
  bottom: 10rem;
  left: 0;
  right: 0;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 20rem;
}
.add-new {
  padding: 0.6rem;
  height: 2rem;
  /* margin-top: 1.5rem; */
  background-color: var(--primary-color);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: var(--white-color);
}
.add-new:hover,
.add-new:active {
  background-color: #2d595f;
}
.addC-modal,
.modal-edit {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-login {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-login-content label {
  margin-top: 1rem;
  display: block;
  margin-bottom: 0.5rem;
  padding: 0.3rem;
}
.login-buttons-cont {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}
.modal-cont {
  display: none;
}
.modal-content label,
.modal-content input {
  display: block;
  margin-bottom: 1rem;
  padding: 0.3rem;
}
.modal-login-content input {
  width: 100%;
  max-width: 200px;
  box-sizing: border-box;
}
.small-modal {
}
.edit-modal-content label,
.edit-modal-content input {
  display: block;
  margin-bottom: 1rem;
  padding: 0.3rem;
  width: 50%;
}
.modal-content,
.edit-modal-content,
.modal-login-content {
  background-color: var(--background-color);
  margin: 5% auto;
  padding: 2rem;
  border: 1px solid #888;
  width: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.addCBtn,
.editCBtn {
  background-color: var(--primary-color);
  cursor: pointer;
  margin-top: 2rem;
  border: none;
  border-radius: 3px;
  padding: 0.8rem;
}
.addCBtn:hover,
.editCBtn:hover,
.addCBtn:active,
.editCBtn:active {
  background-color: var(--secondary-color);
}
.sign-in {
  margin-top: 1rem;
  margin-right: 1rem;
  display: flex;
  height: 90%;
  gap: 1.4rem;
  margin-bottom: 3rem;
  border-radius: 3px;
}
.login {
  display: none;
  padding: 0.7rem;
  border-radius: 3px;
  border: none;
  letter-spacing: 0.02rem;
  color: var(--text-color);
  background-color: var(--teal-color);
  padding-right: 0.7rem;
  padding-left: 0.7rem;
}

.login:hover,
.login:active,
.register:hover,
.register:active {
  background-color: var(--yellow-color);
}
.sampler {
  padding-bottom: 40rem !important;
}
.highlighted-1 {
  color: var(--primary-color);

  cursor: pointer;
}
.highlighted-2 {
  color: var(--secondary-color);

  cursor: pointer;
}
.result {
  display: flex;
  gap: 10rem;
}
.pie-chart {
  --percent: 0;
  margin-top: 4rem;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background: conic-gradient(var(--color) var(--percent), var(--color2) 0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.pie-label {
  position: absolute;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--text-color);
}
.column-chart,
.column-chartH {
  display: flex;
  justify-content: space-around;
  height: 15rem;
  width: 50rem;
  padding: 1rem;
  position: relative;
}

.column-chart {
  align-items: flex-end;
}

.column-chartH {
  align-items: flex-start;
}
.column {
  width: 100%;
  background-color: var(--teal-color);
  text-align: center;
  margin: 0 0.5rem;
  transition: height 0.3s ease-in-out;
  position: relative;
}
.column:hover {
  size: 105%;
  color: var(--secondary-color);
  cursor: pointer;
}
.column-label {
  text-align: start;
  position: absolute;
  transform: translateY(-2rem);
  font-size: 0.7rem;
}
.column-labelH {
  text-align: start;
  position: absolute;
  transform: translateX(4rem);
  font-size: 0.7rem;
}
.chart-text {
  position: absolute;
  top: 30%;
  left: 30%;
  font-size: 1.7rem;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  color: var(--primary-color);
  z-index: -2;
}

.jump-down {
  display: none;
}
